/*achtergrond */
body {
    background-image: url(/img/image5.jpeg);
    background-repeat: no-repeat;
    background-size: 1950px;
    image-rendering: crisp-edges;
}

.dices{
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px rgb(255, 255, 255),
            0 0 82px rgb(255, 255, 255),
            0 0 92px rgb(94, 25, 184),
            0 0 102px rgb(94, 25, 184),
            0 0 151px rgb(94, 25, 184);
    padding: 10px;
    column-count: 5;
    column-fill: balance;
    color:white;
}

.headings{
    padding: 10px;
    column-count: 5;
    column-fill: balance;
    color:white;
}

.credits{
    column-count: 5;
    column-fill: balance;
    color:white;
}

.text-center{
    text-align: center;
    color:white;
}

.dices-computer{
    column-count: 2;
    color:white;
}

.dices-player{
    column-count: 2;
    color:white;
}

.message{
    column-count: 3;
    column-fill: balance;
    color:white;
}

.message-box{
    border: 2px solid rgb(112, 13, 112);
}

.controls{
    padding: 10px;
    column-count: 6;
    column-fill: balance;
}
.restart{
    column-count: 3;
    column-fill: balance;
}

.dice{
    font-size: 64pt;
}

/*buttons decoratie*/
.hidden {
    display: none;
}

.restart-button{
    font-size: 120px;
    width:100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.45), 0 17px 50px 0 rgba(0,0,0,0.50);
    background-color:#b64386;
    border-radius: 100px;
    box-shadow: rgb(139, 156, 233) 0 -25px 18px -14px inset,rgba(139, 156, 233) 0 1px 2px,rgba(139, 156, 233) 0 2px 4px,rgba(139, 156, 233) 0 4px 8px,rgba(139, 156, 233) 0 8px 16px,rgba(139, 156, 233) 0 16px 32px;
    color:#000000;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.higher-button{
    font-size: 120px;
    width:100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.45), 0 17px 50px 0 rgba(0,0,0,0.50);
    background-color:#b64386;
    border-radius: 100px;
    box-shadow: rgb(139, 156, 233) 0 -25px 18px -14px inset,rgba(139, 156, 233) 0 1px 2px,rgba(139, 156, 233) 0 2px 4px,rgba(139, 156, 233) 0 4px 8px,rgba(139, 156, 233) 0 8px 16px,rgba(139, 156, 233) 0 16px 32px;
    color:#000000;
    cursor: pointer;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.green:hover{
    box-shadow: #a1cca5 0 -25px 18px -14px inset,#a1cca5  0 1px 2px,#a1cca5  0 2px 4px,#a1cca5  0 4px 8px,#a1cca5  0 8px 16px,#a1cca5 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.red:hover{
    box-shadow: #bd2f2f 0 -25px 18px -14px inset,#bd2f2f  0 1px 2px,#bd2f2f  0 2px 4px,#bd2f2f  0 4px 8px,#bd2f2f  0 8px 16px,#bd2f2f 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.lower-button{
    width:100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.45), 0 17px 50px 0 rgba(0,0,0,0.50);
    background-color:#b64386;
    border-radius: 100px;
    box-shadow: rgb(139, 156, 233) 0 -25px 18px -14px inset,rgba(139, 156, 233) 0 1px 2px,rgba(139, 156, 233) 0 2px 4px,rgba(139, 156, 233) 0 4px 8px,rgba(139, 156, 233) 0 8px 16px,rgba(139, 156, 233) 0 16px 32px;
    color:#000000;
    cursor: pointer;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.go-button{
    width:100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.45), 0 17px 50px 0 rgba(0,0,0,0.50);
    background-color:#b64386;
    border-radius: 100px;
    box-shadow: rgb(139, 156, 233) 0 -25px 18px -14px inset,rgba(139, 156, 233) 0 1px 2px,rgba(139, 156, 233) 0 2px 4px,rgba(139, 156, 233) 0 4px 8px,rgba(139, 156, 233) 0 8px 16px,rgba(139, 156, 233) 0 16px 32px;
    color:#000000;
    cursor: pointer;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.dice-button{
    width:100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.45), 0 17px 50px 0 rgba(0,0,0,0.50);
    background-color:#b64386;
    border-radius: 100px;
    box-shadow: rgb(139, 156, 233) 0 -25px 18px -14px inset,rgba(139, 156, 233) 0 1px 2px,rgba(139, 156, 233) 0 2px 4px,rgba(139, 156, 233) 0 4px 8px,rgba(139, 156, 233) 0 8px 16px,rgba(139, 156, 233) 0 16px 32px;
    color:#000000;
    cursor: pointer;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}